h1 {
    color: green;
}

h2 {
    color: blue;
}
html {
    background-color: turquoise;
}
a {
    color: rgb(72, 151, 65);
}
.float-right {
    float: right;
}
footer {
    color: rgb(35, 105, 98);
}
p {
    float: center;padding: 10px, 200px;
}
h3 {
    color: black;
}