body {
    background-color: aquamarine;
}
h1 {
    color: blue;
    font-size: 25px;
}
h2 {
    color: green;
    font-size: 20px;
}
.red-heading {
    color: red; 
}
.blue-font{ 
    color: blue
}

#new-font{
    font-family: fantasy, cursive, serif;
}
header p {
    font-weight: bold;
    font-style: italic;
    color: blue;
}